/**
 * Classes Buttons
 *
 * btn
 *
 */

.btn, .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0px 30px;
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  border-radius: 999px;
  text-decoration: none;
  text-transform: uppercase;
  height: 50px;
  letter-spacing: -0.02em;
  transition: all 0.12s linear;
  text-align: center;
  background-color: $background-pink;
  border-color: $background-pink;

  &:hover {
    background: unset;
    opacity: .5;
    transition: .3s;
  }


  &-color {

    &-white {
      color: #fff;
    }
  }

  &-lg {
    height: 57px;
    line-height: 18px;

  }

  span {
    position: relative;
    top: 2px;
  }

  &.green {
    //background-color: $background-red;
    //border-color: $background-red;
    color: #fff;
  }

  svg {
    margin: 0 0 0 8px;
  }

}


