.home {
  .container {
    @include media(md) {
      padding: 0;
    }



  }

  &__intro {
    height: calc(100vh - 150px) !important;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @media (max-height: 760px) {
      height: auto !important;
    }
    @media (min-height: 1080px) {
      height: calc(100vh - 370px) !important;
    }

    &-left {
      position: relative;
      margin: 0 330px 0 0;
      @include media(lg) {
        margin: 0 250px 0 0;
      }
      @include media(md) {
        margin: 0;
      }
    }

    &-link_start {
      display: flex;
      flex-wrap: wrap;
      overflow: hidden;
      background: #fdc62d;
      padding: 0 0 240px 0;
      border-top-left-radius: 200px;
      position: relative;
      @media (max-height: 860px) {
        padding: 0 0 180px 0;
      }
      @include media(lg) {
        border-top-left-radius: 90px;
      }
      @include media(md) {
        flex-direction: column-reverse;
        padding-bottom: 0;
      }

      &-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;
        padding: 0 40px 40px 40px;
        height: 480px;
        background-size: cover;
        background-position: top center;
        background-repeat: no-repeat;
        position: relative;
        @include media(lg) {
          padding: 0 20px 40px 20px;
        }
        @include media(md) {
          width: 100%;
          height: 270px;
          padding: 0 25px 10px;
          background-position: center 30%;
          justify-content: center;

        }

        &.first {
          .title {
            span {
              background-color: $color-red;
            }
          }
        }

        &.last {
          @include media(md) {
            padding-top: 100px;
          }

          .title {
            span {
              background-color: $color-blue-light;
            }
          }

          .home__intro-link_card {
            @include media(md) {
              padding: 150px 20px 30px 20px;
            }
          }
        }

        &:hover {

          .title {
            span {
              svg {
                transform: translateX(5px);
              }
            }
          }

          .home__intro-link_card {
            opacity: 1;
          }
        }

        .subtitle {
          font-weight: 600;
          font-size: 42px;
          line-height: 1.2;
          color: #fff;
          white-space: nowrap;
          @include media(xl) {
            font-size: 32px;
          }
        }

        .title {
          font-weight: 600;
          font-size: 56px;
          line-height: 1.2;
          color: #fff;
          position: relative;
          padding: 0 80px 0 0;
          margin: 0;
          white-space: nowrap;
          @include media(xl) {
            font-size: 48px;
          }
          @include media(md) {
            padding: 0;
            font-size: 48px;
          }

          span {
            $size: 66px;
            $size-md: 50px;

            position: absolute;
            right: 0;
            top: -8px;
            width: $size;
            height: $size;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            @include media(lg) {
              width: $size-md;
              height: $size-md;
              top: -4px;
            }

            svg {
              transition: all 0.2s linear;
              @include media(lg) {
                height: 16px;
              }
            }
          }
        }

        .excerpt {
          color: #fff;
          font-weight: 600;
          font-size: 18px;
          line-height: 1.4;
          display: block;
          margin: 0 0 30px 0;
          @include media(md) {
            display: none;
          }
        }

        .btngroup {
          display: flex;
          margin: 0 0 50px 0;
          @include media(md) {
            display: none;
          }

          .btn {
            margin: 0 7px;
            border-color: #fff;
            color: #fff;
            max-width: 181px;

            &:hover {
              background-color: $color-blue-light;
              border-color: #fff;
              color: #fff;
            }

            &:first-child {
              margin-left: 0;
            }

            &:last-child {
              margin-right: 0;
            }
          }

        }

      }


    }

    &-link_bottom {
      position: absolute;
      height: 240px;
      left: 0;
      right: 120px;
      bottom: 0;
      background-color: transparent;
      z-index: 3;
      @media (max-height: 860px) {
        height: 180px;
      }
      @include media(md) {
        right: 0;
        display: flex;
        position: relative;
        flex-direction: row-reverse;
        height: unset;
        padding: 30px 0 15px;
        margin-top: -100px;
      }

      &::after,
      &::before {
        content: '';
        display: block;
        position: absolute;
        border-top-right-radius: 100px;
        right: 0;
        top: 0;
        bottom: 0;
        @include media(lg) {
          border-top-right-radius: 90px;
        }
      }

      &::before {
        background: linear-gradient(106.26deg, $color-red 38.71%, $color-yellow-light 152.47%);
        opacity: 0;
        transition: opacity 0.2s linear;
        z-index: -1;
        left: 0;
      }

      &::after {
        left: -998px;
        background-color: $color-red;
        z-index: -2;
        box-shadow: 10px -10px 20px rgba(0, 0, 0, 0.2);
      }

      &:hover {
        &::before {
          opacity: 1;
        }

        &::after {

        }

        .title {
          span {
            width: 95%;
          }
        }
      }

      .title {
        position: absolute;
        color: #fff;
        font-weight: normal;
        font-size: 36px;
        line-height: 1.3;
        right: 140px;
        top: 50%;
        transform: translateY(-50%);
        max-width: 290px;
        margin: 0;
        @include media(lg) {
          right: 70px;
          font-size: 30px;
        }
        @include media(md) {
          font-size: 24px;
          position: relative;
          right: 0;
          top: 0;
          display: block;
          transform: unset;
          width: 50%;
        }

        span {
          display: block;
          overflow: hidden;
          width: 85px;
          transition: width 0.18s linear;
          height: 24px;
          position: relative;
          margin: 10px 0 0 0;

          svg {
            position: absolute;
            right: 0;
            top: 50%;
            transform: translateY(-50%);
          }
        }
      }

      img {
        position: absolute;
        left: -60px;
        bottom: 0;
        @media (max-height: 860px) {
          height: 100%;
        }

        @include media(md) {
          position: relative;
          left: 0;
          display: block;
          width: 50%;

        }
      }
    }

    &-link_end {
      $width: 320px;
      $width-md: 250px;

      position: absolute;
      z-index: 3;
      border-top-right-radius: 100px;
      background-color: $color-blue;
      width: $width;
      top: 60px;
      bottom: 0;
      right: -#{$width};
      padding: 145px 50px 0 30px;
      @media (max-height: 860px) {
        padding-top: 100px;
      }
      @include media(lg) {
        border-top-right-radius: 90px;
        padding: 145px 20px 0 20px;
        width: $width-md;
        right: -#{$width-md};
      }
      @include media(md) {
        width: 100%;
        position: static;
        border-radius: 0;
        padding: 30px;
      }

      &-item {
        position: relative;
        z-index: 1;
        min-height: 185px;
        display: flex;
        align-items: center;
        margin: 0 0 30px 0;
        @include media(lg) {
          min-height: 150px;
        }
        @include media(md) {
          margin: 0;
          width: 50%;
          min-height: unset;

        }

        &::after {
          $size: 185px;
          $size-md: 150px;

          content: '';
          display: block;
          position: absolute;
          z-index: -1;
          width: $size;
          height: $size;
          border-radius: 50%;
          top: 0;
          right: 0;
          transition: all 0.12s linear;
          @include media(lg) {
            width: $size-md;
            height: $size-md;
          }
        }

        &:hover {
          .title {
            span {
              width: 100%;
            }
          }
        }

        .title {
          color: #fff;
          font-weight: normal;
          font-size: 36px;
          line-height: 1.2;
          position: relative;
          top: 10px;
          z-index: 3;
          margin: 0;
          white-space: nowrap;
          @include media(lg) {
            font-size: 24px;
          }
          @include media(md) {
            font-size: 20px;
          }

          span {
            display: block;
            overflow: hidden;
            width: 45px;
            transition: width 0.18s linear;
            height: 24px;
            position: relative;

            svg {
              position: absolute;
              right: 0;
              top: 50%;
              transform: translateY(-50%);
            }
          }
        }

      }

      > a {

        &::after {
          transition: all 0.2s linear;
        }

        &:first-child {
          @include media(md) {
            float: left;
          }

          &::after {
            background: linear-gradient(133.04deg, #00A9B7 11.44%, #FCC62B 133.98%);
            background-size: 400%;

            @include media(md) {
              width: 75px;
              height: 75px;
              top: -15%;
              right: 35%;
            }
          }

          &:hover {
            &:after {
              background-size: 100%;
            }
          }
        }

        &:last-child {
          &::after {
            background: linear-gradient(146.27deg, #DA1B5A 22.57%, #FCC62B 108.43%);
            background-size: 400%;

            @include media(md) {
              width: 75px;
              height: 75px;
              top: -15%;
              right: 20%;

            }
          }

          &:hover {
            &:after {
              background-size: 100%;
            }
          }
        }
      }
    }

    &-link_card {
      position: absolute;
      z-index: 3;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(151.56deg, $color-yellow-light 28.78%, $color-red 70.83%);
      padding: 90px 30px 30px 50px;
      transition: all 0.18s linear;
      opacity: 0;
      @include media(md) {
        padding: 50px 20px 30px 20px;
      }
    }


  }

}
