.footer {
  margin-top: -1.9%;
  z-index: 10;
  background-color: $color-footer;
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 100%);

  .left {
    &__menu {
      h6 {
        color: $footer-h6;
      }

      a {
        color: $footer-link;
        display: block;
        width: 100%;
        height: 100%;

        &:hover {
          color: $footer-link;

          opacity: .5;
        }
      }
    }

  }

  .right {
    p {
      display: none;
    }

    &__socials {
      li {
        width: 15%;

        a {
          display: block;
        }

        svg {
          width: 100%;
          height: 100%;
        }
      }
    }

    .emailSubscribe {
      .input-group {

        border-bottom-color: $color-yellow !important;

        &-append {
          width: 5%;

          * {
            width: 100%;
            height: 100%;
            margin: 0;

          }
        }

      }

      &__email {
        color: $color-yellow;
        &::placeholder {

          color: $footer-link;
        }
      }

      &__label {
        color: $color-yellow;
      }

      svg {
        fill: $icon-quote-yellow;
      }
    }
  }

}


