.single-vacancies {

  .vacancy__benefits {
    background-color: $background-grey;


  }

  .row {

    &__benefits {

      svg, img {
        width: 100%;
        height: 100%;
      }

      .benefit {
        //background-color: red;

        &:first-child {
          background-color: yellow;

        }
      }


      .col {
        @include media(sm) {
          &:first-child{
            width: 30%;

          }
          &:nth-child(2){
            width: 70%!important;

          }
        }
      }
    }

  }
}
