.single-vacancies {

  .vacancy__intro {
    background-color: $background-grey;
    clip-path: polygon(0 0, 100% 0%, 100% 90%, 0% 100%);
    @include media(sm) {
      clip-path: polygon(0 0, 100% 0%, 100% 98%, 0% 100%);
    }
    @include media(md) {
      clip-path: polygon(0 0, 100% 0%, 100% 98%, 0% 100%);

    }

    .col {
      @include media(sm) {
        flex: 1 0 100%;
      }

      &_1 {

        a {

          background: $background-pink;
          color: white!important;
          border-radius: 30px;
          display: block;
          width: fit-content;
          @include media(sm) {

            width: 100%;
            display: block;
          }
        }

        @include media(sm) {
          padding: 0;
          order: 4;
          text-align: center;
        }
      }

      &_2 {
        color: #74716d!important;
        @include media(sm) {
          order: 3;
          text-align: center;
        }
      }

      &_3 {
        @include media(sm) {
          text-align: center;
        }

        .list-group {
          @include media(sm) {

          }

          li {
            background: unset;
            margin-right: 5%;
            width: 20%;
            svg{
              width: 100%;
              display: block;
            }
          }
        }
      }
    }

  }
}
