.swiper-testimonials {

  position: absolute;
  right: 5%;
  top: 30%;
  width: 40%;
  @include media(md) {
    top: 35%;

  }
  @include media(sm) {
    position: relative;
    top: 0;
    width: 100%;
    right: 0;
  }
  .testimonial__user{

    &-location{
      color: #b1b0ae;
    }
  }


  .swiper-slide {

    .icon {
      width: 50%;

      svg {
        width: 70%;
      }


    }

    .icon-quote {
      svg {
        fill: $icon-quote-yellow;
      }
    }

    .icon-arrow {
      width: 15%;

      svg {

        fill: $icon-arrow-pink;
      }
    }

    .row {
      .col-sm-10 {
        @include media(sm) {

          width: 70%;
        }
      }

      .col-sm-2 {
        @include media(sm) {

          width: 30%;
        }
      }
    }
  }

}