/**
 * Breakpoints
 */
$breakpoints: (
        xs: 500px,
        sm: 767px,
        md: 991px,
        lg: 1200px,
        xl: 1400px,
);

/**
 * Body
 */
$font-body                      :   'Roboto', sans-serif;
$font-title                     :   'Roboto', sans-serif;
$color-body                     :   #1C3360;
$color-h                        :   #1C3360;
$textSize-body                  :   16px;
$textLineHeight-body            :   27px;
$backgroundColor-body           :   #fff;
$fontWeight-body                :   400;

$textSize-body-medium           :   14px;
$textLineHeight-body-medium     :   22px;

/**
 * Container
 */
$container-padding              :   30px;
$container-maxWidth             :   1330px;
/**
 * Link
 */
$color-link                     :   #1C3360;

/**
 * Background
 */
//$background-blue                :   #13216F;
//$background-grey                :   #F8F9FC;
//$background-red                 :   #DA1B5A;
//$background-yelow               :   #E5AF2A;
//$background-orange              :   #FF7A00;
//$background-green               :   #B7FF1F;

/**
 * Colors
 */
//
//$color-primary      :   #1C9DE3;
//$color-secondary    :   #0B2837;
//$color-blue         :   #1C3360;
//$color-blue-dark    :   #133C52;
//$color-blue-light   :   #00A9B7;
//$color-dark         :   #232323;
//$color-dark-alt     :   #292929;
//$color-gray         :   #DADADA;
//$color-gray-light   :   #E5E5E5;
//$color-gray-dark    :   #909090;
//$color-gray-content :   #EDEDED;
//$color-yellow       :   #E5AF2A;
//$color-yellow-light :   #FCC62B;
//$color-orange       :   #FF7A00;
//$color-text         :   #ACACAC;
//$color-white        :   #fff;
//$color-light        :   #E7E5E5;
//$color-red          :   #DA1B5A;
//$color-green        :   #B7FF1F;
//$color-purple       :   #7C62E3;



//---
$color-black : #000;
$color-footer: #3d3935;
$color-pink :#bc204b;
$color-gray: #948c85;
$color-yellow: #f1b828;
$color-dark-gray:#989693;
$color-filter:#5f5c58;

$footer-h6:#64615d;
$footer-link:#b1b0ae;
//background
$background-grey : #f4f4f1;
$background-pink:#bc204b;

//border
$border-pink : #bc204b;
$border-bottom :#d8d7d7;
$border-light_gray:#e1e1de;

//bootstrap
$border-color:                #bc204b;

//icons
$icon-quote-yellow :#f1b828;
$icon-arrow-pink :#bc204b;
$icon-light_gray :#989693;

$icon-pink :#bc204b;
$icon-yellow :#f1b828;
$icon-green :#7ccc6c;
$icon-salt:#7bceb1;