/**
 * Breakpoints
 */
$breakpoints: (
        xs: 500px,
        sm: 767px,
        md: 991px,
        lg: 1200px,
        xl: 1400px,
);

/**
 * Body
 */
$font-body                      :   'Roboto';
$font-title                     :   'Roboto Light', sans-serif;
$color-body                     :   #bc204b;
$color-h                        :   #bc204b;
$textSize-body                  :   16px;
$textLineHeight-body            :   27px;
$backgroundColor-body           :   #fff;
$fontWeight-body                :   400;

$textSize-body-medium           :   14px;
$textLineHeight-body-medium     :   22px;

/**
 * Container
 */
$container-padding              :   30px;
$container-maxWidth             :   1330px;
/**
 * Link
 */
$color-link                     :   #bc204b;

/**
 * Colors
 */
$color-black : #000;
$color-footer: #3d3935;
$color-pink :#bc204b;
$color-pink-light:#eedee0;
$color-gray: #948c85;
$color-yellow: #f1b828;
$color-dark-gray:#989693;
$color-filter:#5f5c58;

$footer-h6:#64615d;
$footer-link:#b1b0ae;
//background
$background-grey : #f4f4f1;
$background-pink:#bc204b;

//border
$border-pink : #bc204b;
$border-bottom :#d8d7d7;
$border-light_gray:#e1e1de;

//bootstrap
$border-color:                #bc204b;

//icons
$icon-quote-yellow :#f1b828;
$icon-arrow-pink :#bc204b;
$icon-light_gray :#989693;

$icon-pink :#bc204b;
$icon-yellow :#f1b828;
$icon-green :#7ccc6c;
$icon-salt:#7bceb1;